[Unit]
Description=Fridge Monitor API Service
After=network.target

[Service]
User=earl
WorkingDirectory=/home/earl/food-detector
Environment="PATH=/home/earl/food-detector/venv/bin"
EnvironmentFile=/home/earl/food-detector/.env
ExecStart=/home/earl/food-detector/venv/bin/python app.py
Restart=always

[Install]
WantedBy=multi-user.target